[submodule "luajit-2.1"]
	path = luajit-2.1
	url = git@github.com:alex4814/LuaJIT.git
[submodule "cjson"]
	path = cjson
	url = git@github.com:openresty/lua-cjson.git
[submodule "luasocket"]
	path = luasocket
	url = git@github.com:lunarmodules/luasocket.git
[submodule "lpeg"]
	path = lpeg
	url = git@github.com:alex4814/lpeg-luajit.git
	branch = luajit-v2.1
